Model/ApsimFile/obj
obj
*.dll
*.so
*.pdb
*.exe
*.exe.config
VersionInfo.*
.vs
packages
*.suo
*.suo
bin
Model/TclLink/doc
Model/TclLink/include
Model/TclLink/lib
*.o
*.mod
*.obj
*.rsp
Model/Build/BuildAllOutput.xml
DataTypes.cpp
DataTypes*.h
ScienceAPI*
Model/DataTypes/DataTypes.cs
Model/DataTypes/DOTNETDataTypes.cs
*.def
*.ldscript
Model/FortranComponentInterface/FortranDataTypes.cpp
Model/FortranInfrastructure/DataTypes.f90
Model/FortranInfrastructure/DataTypesInterface.f90
*.pch
*.user
*.rsp
Model/RLink/RComponent.h
RDataTypes*.cpp
Model/RLink/RDataTypes.h
REmbed.*
Model/SlopeEffectsOnWeather/Solute2.Doco.xml
*.Doco.xml
Model/TclLink/CIDataTypes.tcl
*.manifest
*.exp
*.lib
*.a
Model/DairyCows.xml
Model/DDRulesTypes.xml
Model/EffluentIrrigator.xml
Model/EffluentPond.xml
Model/FeedStore.xml
Model/MathNet.Numerics.IO.xml
Model/MathNet.Numerics.xml
*.dll.config
Model/Plant/Release/
