.AssemblyTable
{
	background-color: #eefeff;
	width: 100%;
	border: solid 1 #dddddd;
	margin: 0 0 0 0;
}
.AssemblyHeader
{
	font-family:Arial;
	font-size:12pt;
	font-weight:normal;
	color:Black;
	background-color:#ccddee;
}
.AssemblyBody
{
	font-family:Arial;
	font-size:10pt;
	font-weight:normal;
	background-color:#eefeff;
	vertical-align:top;
	text-align:left;
}
.TypeTable
{
	background-color:#ffffcc;
	width:100%;
	border: solid 1 #000000;
	margin: 10 0 10 0;
}
.TypeHeader
{
	font-family:Arial;
	font-size:12pt;
	font-weight:normal;
	color:Black;
	background-color:#ccddee;
}
.TypeBody
{
	font-family:Arial;
	font-size:10pt;
	font-weight:normal;
	background-color:#ffffcc;
	vertical-align:top;
	text-align:left;
}
.ParamTable
{
	background-color:#ffffe8;
	width:90%;
	border: solid 1 #dddddd;
	margin: 10 0 10 10;
}
.ParamBody
{
	font-family: Arial;
	font-size: 10pt;
	font-weight: normal;
	background-color: #ffffe8;
	vertical-align: top;
	text-align: left;
}
.Title
{
	font-weight:bold;
}
.Member
{
	font-style:italic;
	font-weight:bold;
}
.Param
{
	font-style:italic;
}
.Remarks
{
	font-style: italic;
	font-family: Arial;
	font-size: 9pt;
}
.Text
{
	font-weight:normal;
}
.Protected
{
	color: Blue;
}
.Public
{
	color: Maroon;
}
