body {
  background: white url(ApsruTile.jpg) repeat-y scroll left top;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 9pt;
  color: #004743;
  padding-left: 70px;
  text-align: left;
}
p {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 9pt;
  color: black;
}
table {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 9pt;
  color: black;
  text-align: center;
}
h1 {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 11pt;
  color: SteelBlue;
  text-align: left;
}
h2 {
  border-color: SteelBlue;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 9pt;
  margin-top: 50px;
  border-bottom-style: inset;
  color: Black;
  text-align: left;
  font-weight: bold;
}
h3 {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 20pt;
  color: SteelBlue;
  text-align: center;
}
.menu {
  background-color: #016ea7;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 9pt;
  color: yellow;
  width: 100%;
  height: 50px;
  margin-left: -14px;
  margin-top: -8px;
  margin-bottom: 20px;
}
.menulink {
  color: white;
}
.newsdate {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 7pt;
  color: blue;
}
